h2{
    color: blue;
    
}

h1{
    color: rgb(13, 170, 39);

}
header {
    text-align: center;
    background: url('https://i.pinimg.com/236x/de/d0/77/ded077d63c180e90210d6e4b951220e5.jpg');
    background-size: cover;
    color: rgb(58, 80, 152);
  }
  a {
    color: rgb(27, 0, 227);
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
    
  }
  article{
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }

  img {
    margin: 40px 0px 0 px 0px;
    border: 7px solid white;
    border-radius: 20px;
  }

  ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
    
  }
  body{
    background-color: rgb(10, 156, 214);
  }
